.authButtons__content {
    width: 220px;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.btn__home-login {
    background-color: rgb(87, 137, 245);
    color: white;
}