.theme-cyan {
    background-color: rgb(36, 125, 250);
    .header__dashboard {
        background-color: rgb(36, 125, 250);
        color: white;
        .btn__logout {
            color: white;
            border: 3px solid white;
        }
    }

    .dashboard__content {
        aside {
            background-color: rgb(36, 125, 250);
            color: rgb(255, 255, 255);
        }

        .page__content {
            background-color: rgb(180, 205, 241);
            color: rgb(28, 58, 87);
            .note__entry {
                background-color: rgb(3, 69, 107);
                color: white;
            }
            .appbar {
                background-color: rgb(36, 125, 250);
                color: white;
                .btn__appbar {
                    border: 2px solid rgb(255, 255, 255);
                    color: rgb(255, 255, 255);
                }
            }

            option {
                background-color: rgb(36, 125, 259);
                color: white;
            }

            .form__data label {
                color: rgb(0, 15, 43);
                font-size: 1.1rem;
                font-weight: 600;
            }
            .form__data input {
                border-bottom: 2px solid rgb(0, 15, 43);
            }

            .btn__account-data {
                background-color: rgb(0, 14, 39);
                color: white;
            }
            .btn__account-password {
                background-color: rgb(0, 14, 39);
                color: white;
            }

        }
        
    }

}